/* CSS vars on pseudo root element */
:root {
  --main-bg-colour: #ffffff;
  --main-font-colour: rgba(54,76,143,.5);
  --main-accent-colour: #4b78ff;
  --border-curve: 5px;
}

/* Set bg colour here instead of in reset to make use of CSS vars */
/* Could duplicate rules to support older browsers */
body {
  background-color: var(--main-bg-colour);
}

/* Content wrapper div, just a simple flexbox */
/* Made some attempt to include browser prefixes, should of used auto-prefixer */
#wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-box-align: center;
  -webkit-box-pack: center;
}

/* Main item to be displayed in the flexbox, just a centered div ultimately */
#main-form {
  box-sizing: border-box;
  text-align: center;
  width: 480px;
  padding: 40px;
  display: none;
}

/* Tab element, groups various inputs together to represent a stage of the process */
.tab {
  display: none;
}

/* Title bar for each tab of the process */
.title {
  font-size: 2.5rem;
  font-weight: 500;
  color: var(--main-accent-colour);
}

/* Input fields */
input, select {
  background-color: var(--main-bg-colour);
  color: var(--main-font-colour);
  border-color: var(--main-accent-colour);
  border-radius: var(--border-curve);
  border-style: solid;
  border-width: 2px;
  font-family: Mark;
  text-align: center;
  outline: none;
}

/* Odd text labels */
.label {
  margin: 4px;
}

.sub-title, .label {
  color: var(--main-font-colour);
}

/* Flat button design with an accent colour */
button {
  background-color: var(--main-accent-colour);
  color: var(--main-bg-colour);
  border: none;
  border-radius: var(--border-curve);
  /*color: var(--main-accent-colour);
  background-color: var(--main-bg-colour);
  border: 2px solid var(--main-accent-colour);*/
  font-weight: 600;
  font-size: 0.8rem;
  outline: 0;
  cursor: pointer;
  width: 75%;
  height: 44px;
  min-height: 44px;
  margin: 25px 0px;
}

/* Step indicators */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: var(--main-font-colour);
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}

.step.finished {
  background-color: var(--main-accent-colour);
}

/* Loading spinner */
.loader {
  border: 16px solid var(--main-font-colour);
  border-top: 16px solid var(--main-accent-colour);
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

/* Loading spinner animation */
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Fade in animation */
.fade-in-animated {
  opacity: 0;
  animation: fadeIn 2s forwards;
}

/* Form load animation */
@keyframes fadeIn {
  from {opacity: 0}
  to {opacity: 1}
}
